/* .background {
 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  
  .scrollText {
    font-size: 1.5rem;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    height: 10rem;
    width: 25%;
    text-align: center;
    border-radius: 10px;
  }
  

  @media (max-width: 750px) {
    .card {
      width: 40%;
    }
  
    .parallax {
      margin-right: 1.5rem;
    }
  
    .sticky {
      margin-left: 1.5rem;
    }
  }
  .intro {
    background-image: url('https://marketplace.canva.com/EAE-r1_8QRE/1/0/1600w/canva-black-adn-white-motivation-desktop-walpaper-aVB00RKCCmE.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
   

  }
  /* styles.css */

  /* .parallax-container {
    overflow: hidden;
    height: 100vh;
  }
  
  .parallax-layer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
  }
  
  #layer1 {

  }
  
  #layer2 {
    background-position: center;
    background-attachment: fixed;
  } */


  
  /* contained parallax perspective module */

:root {
    --parallax-scale: 0.1; /* pseudo-perspective depth, 0=deactivate */
    --parallax-min-height: 44rem; /* could be overwritten by JS measurement if too low */
    --container-offset-adjustment: 5rem;
  }
  
  /* disable if requested for accessibility reasons */
  @media (prefers-reduced-motion) {
    :root {
      --parallax-scale: 0;
    }
  } */
  

  /* container around parallax layers */
  .parallax__group {

    z-index: -1;
    /* margin-top: 100px; */
    transform-origin: center top;
    transform: scaleY(calc(1 - var(--parallax-scale)));
    margin-top: calc(
      var(--container-offset-adjustment)
      + 
      (-1
        *
        max(100vh, var(--parallax-min-height))
      )
    );
    margin-bottom: calc(-1 * var(--container-offset-adjustment));
  }
  
  .parallax__layer {
    transform-origin: center top;
    transform: scaleY(calc(1 / (1 - var(--parallax-scale))));
  }
  
  .parallax__layer--foreground {
    position: relative;
    top: 0;
  }
  
.parallax__layer--background {
    position: sticky;
    z-index: -1;
    top: 0;
    margin-top: 700px;
    height: 100%;
    min-height: 10vh;
    min-height: max(10vh, var(--parallax-min-height));
    background-size: contain;
    background-attachment: fixed; /* legacy browser fallback */
    /* decorative styles unrelated to the parallax effect: */
    background-repeat: no-repeat;
    overflow: auto; /* Ensure the overflow is hidden to hide the shade outside the container */

    background-image: url("https://marketplace.canva.com/EAE-r1_8QRE/1/0/1600w/canva-black-adn-white-motivation-desktop-walpaper-aVB00RKCCmE.jpg");

    /* Black shade at the top */
    &::before {
        content: "";
   
        top: 0;
        left: 0;
        width: 100%;
        height: 50%; /* Adjust the height of the black shade as needed */
        background-color: rgba(0, 0, 0, 0.7); /* Adjust the color and transparency as needed */
        z-index: -1; /* Place it behind the background image */
    }
}
  
  /* recommended other elements' opaque background etc. */
  body {
    margin: 0;
    padding: 0;
  }
  
  .header, .footer, .content {
    background-color: rgb(9, 9, 9);
    margin:0;
    padding: 1rem;
  }
  @media (min-width: 608px) {
    .parallax__layer--background {
        background-attachment: fixed;
    }
}
  /* decorative styles unrelated to the parallax effect: */
  .card {
    width: 50%;
    padding: 5%;
    /* border: solid 1px rgb(14, 14, 14);
    background: rgba(9, 9, 9, 0.9); */
    margin: 0 0 7rem 1rem;
  }
  
  /* hide imperfect endings behind a gradient */
  .parallax__layer--background::before {
    content: "";
    /* display: block; */
  
    top: 0;
    height: max(100vh, var(--parallax-min-height));
    width: 100%;
    background: linear-gradient(
      /* rgba(255, 255, 255, 1) 0%, */
      rgba(255, 255, 255, 0) 100%
      );
  }
  .parallax__layer--background::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 4rem;
    width: 100%;
    background: linear-gradient(
      /* rgba(255, 255, 255, 0) 0%, */
      /* rgba(255, 255, 255, 1) 100% */
      );
  }

  .underlintext {
    position: relative;
    text-decoration: none;

    font-size: 18px;
    display: inline-block;
  }

  .underlintext::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #0077cc; /* Change this to your desired underline color */
    bottom: 0;
    right: 0;
    transition: width 0.3s ease;
  }

  .underlintext:hover::after {
    width: 100%;
  }