.background_image{
    background-image: "url('https://dynamicmedia.accenture.com/is/image/accenture/Accenture-Powered-For-Change-Hero-3840x2160%3Arad-5x3?ts=1701776318778&dpr=off')";
    background-size: cover;
    position: center;
}